
	<!-- Login part -->
    <div style="padding: 170px 0px 100px 0px;">
        <div class="container">
            <!-- <h1 style="display: inline-block; position:center; color:#000; font-size:100px;">Welcome {{manager.name}}</h1> -->
            {{#if manager}}
            <h1 style="display: inline-block; position:center; color:#FFF; font-size:100px;">Welcome {{manager.name}}</h1>
            {{else}}
            <h1 style="display: inline-block; margin-right: 480px; color:#808080;" id="myh1">Manager Login</h1>
            <hr style="width: 100%; margin-top: 0px;"/>

            <!-- checking for flash message -->

              {{#if success_msg}}
              <div class="alert alert-success" style="width: 30%;">{{success_msg}}</div>
              {{/if}}

              {{#if error_msg}}
                <div class="alert alert-danger" style="width: 30%;">{{error_msg}}</div>
              {{/if}}

              {{#if error}}
                <div class="alert alert-danger" style="width: 30%;">{{error}}</div>
              {{/if}}

            <!-- //end -->
            <div style="float:left">
            <form method="post" action="/managers/login1">
              <div class="form-group">
                <h4 id="myh4">Manager ID</h4>
                <input id="inpbox" type="text" class="form-control" name="mID" placeholder="Manager ID">
              </div>
              <div class="form-group">
                <h4 id="myh4">Password</h4>
                <input id="inpbox" type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <button type="submit" class="newbtn2">Submit</button>
            </form>
            </div>
            {{/if}}
        </div>
    </div>
